<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon" />
  <meta
    name="description"
    content="I am a full stack JavaScript developer who is passionate about helping businesses and professionals reach greater heights"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous"
  />
  <meta
    name="keywords"
    content="JavaScript Developer, Web development, Web design, web developer, Graphic Designer"
  />
  <link rel="stylesheet" href="css/style.css" />
  <title>Kelvin Kimani | The web expert</title>
</head>
