<nav id="nav">
  <div class="logo">
    <img src="img/logo-small.png" alt="logo" />
  </div>
  <div class="nav-links">
    <a class="link" href="#">Home</a>
    <a class="link" href="#">About Me</a>
    <a class="link" href="#">Services</a>
    <a class="link" href="#">Contact</a>
    <a href="" class="btn">Hire Me</a>
  </div>
  <div class="menu-btn">
    <i class="material-icons">dehaze</i>
  </div>
</nav>
