<nav id="nav">
  <div class="logo">
    <img src="img/logo-small.png" alt="logo" />
  </div>
  <div class="nav-links">
    <a class="link" href="/">Home</a>
    <a class="link" href="/about">About Me</a>
    <a class="link" href="/projects">Projects</a>
    <a class="link" href="/contact">Contact</a>
    <a href="/contact" class="btn">Hire Me</a>
  </div>
  <div class="menu-btn">
    <i class="material-icons">dehaze</i>
  </div>
</nav>
