<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <!-- Nav Section -->
    <%- include('partials/nav') %>
    <!-- About us page content -->
    <div class="about-page container">
      <h1>A Little About Me</h1>
      <div class="about-page-content">
        <div class="about-page-img">
          <img src="img/kelvin.jpeg" alt="Kelvin Kimani" />
        </div>
        <div class="about-page-text">
          <p>
            I love computers and everything about them. Having grown in the
            countryside most of my childhood, I can’t really imagine that there
            was a time I didn’t have a clue as to what computers were.
          </p>
          <p>
            True, life was simpler and it was easier to connect with nature and
            people. Yet, I felt there was a missing piece of me that I couldn’t
            figure out what it was. Then I was introduced to a computer and I
            became a fanatic!
          </p>
          <p>
            I learnt everything about computers from doing the simplest of tasks
            like opening and writing nonsense in MS word to writing thousands of
            lines of code.
          </p>
          <p>
            When I am not coding, I am usually teaching. I love teaching because
            I really admire seeing my students understand new concepts and use
            these concepts to better their lives.
          </p>
          <p>
            My hobbies include, listening to music, travelling to new places and
            socializing with like-minded people.
          </p>
          <a href="" class="btn">SCHEDULE A CALL</a>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
  </body>
</html>
