<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <!-- Nav Section -->
    <%- include('partials/nav') %>
    <!-- Contact us page content -->
    <div class="contact-page container">
      <div class="contact-intro">
        <h1>Lets Talk</h1>
        <h4>Feel free to reach me through the following information</h4>
        <p>CALL ME: +254 719 849 455</p>
        <P>EMAIL ME: kelvin@kkimani.com</P>
      </div>

      <!-- Contact Form -->
      <div class="contact-page-content">
        <div class="contact-page-img">
          <img src="img/contact-img.png" alt="Contact us illustration" />
        </div>

        <!-- Form -->
        <div class="contact-page-text">
          <h3 style="padding: 1.5rem 0">Send a Direct Message</h3>
          <form action="send" method="POST">
            <div class="name-field">
              <label for="name">First Name</label><br />
              <input type="text" id="name" name="name" required />
            </div>
            <div class="email-field">
              <label for="email">Email</label><br />
              <input type="email" id="email" name="email" required />
            </div>
            <div class="phone-field">
              <label for="phone">Phone No.</label><br />
              <input type="text" id="phone" name="phone" />
            </div>
            <div class="message-field">
              <label for="message">Message</label><br />
              <textarea
                name="message"
                id="message"
                cols="30"
                rows="10"
              ></textarea>
            </div>

            <button type="submit">Send Message</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
  </body>
</html>
