<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <!-- Nav Section -->
    <%- include('partials/nav') %>
    <!-- Hero section -->
    <div class="hero">
      <div class="hero-content">
        <div class="hero-text">
          <h1>Hi, I’m Kelvin & I’m a Full-stack Web Developer</h1>
          <p>
            I am passionate about web technologies and I love helping businesses
            and professionals scale up and increase their worth in the market by
            creating websites that convert at all levels
          </p>
          <p>Schedule a 30 minute free consultation with me.</p>
          <a href="/contact" class="btn">Schedule a Call</a>
        </div>
        <img
          class="hero-image"
          src="img/hero-image-large.png"
          alt="What Kelvin does"
        />
      </div>
    </div>
    <!-- Services Section -->
    <div class="container">
      <img class="b-blob-1" src="img/black-blob-1.svg" alt="" />
      <h1>What I Do Best</h1>
      <div class="services">
        <div class="web-dev">
          <img src="img/web-dev.svg" alt="Web developer illustration" />
          <h2>Web Development</h2>
          <p>
            This is the area of my expertise. I am well conversant with popular
            development technologies which I fully utilise to craft jaw dropping
            projects.
          </p>
          <p>
            I am always learning to keep up with the most useful and latest
            trends in order to stay ahead and ensure your project stands out.
          </p>
        </div>
        <div class="ui-ux">
          <img src="img/ui-ux.svg" alt="User interface illustration" />
          <h2>UI/UX Designer</h2>
          <p>
            Designing has always been dear to me since childhood. It is so close
            to my heart such that a day that passes without me doing it, feels
            like a day wasted.
          </p>
          <p>
            I strive to make my designs as unique as possible to give your ideas
            a distinctive touch.
          </p>
        </div>
        <div class="api">
          <img src="img/logo-design.svg" alt="Logo Designer illustration" />
          <h2>Logo Design</h2>
          <p>
            An amazing logo is the face of your brand and your business in
            general. This I know very well, hence, I strive to give you a logo
            that distinctively identifies your business.
          </p>
          <p>Your business is unique, so should your logo be.</p>
        </div>
      </div>
      <img class="b-blob-2" src="img/black-blob-2.svg" alt="" />
    </div>
    <!-- About Section -->
    <div class="container">
      <h1>My Tech Stack</h1>
      <div class="tech-stack">
        <div class="tech-stack-img">
          <img src="img/web-tech-large.png" alt="Tech Stack" />
        </div>
        <div class="content">
          <img src="img/creative-team.svg" alt="Creative Team Illustration" />
          <p>
            These are my all time favorite tools. They effectively get the work
            done. These tools contains two of the most popular technology
            stacks, that is the MERN and the LAMP stacks which are extremely
            effective in delivering desirable results.
          </p>
        </div>
      </div>
    </div>
    <!-- Creative Precess Section -->
    <div id="creative-sec" class="container">
      <img src="img/general-bg-2.svg" alt="" class="general-blob-1" />
      <h1>This is a Creative Process</h1>
      <div class="creative">
        <div class="content">
          <p>
            For me, this is not just work, it is the way I explore new ideas in
            a creative way and bring them to life.
          </p>
          <p>
            Creativity enables me to provide solutions to new challenges
            everyday. I am known to implement even the craziest ideas and making
            them work. This is to say I never shy away from risks nor
            challenges.
          </p>
          <p>
            Why don’t you contact me so that we can bring your creative ideas to
            life.
          </p>
          <p>
            <a href="" class="btn">TALK TO ME</a>
          </p>
        </div>
        <div class="creative-img">
          <img src="img/designer-life.svg" alt="Designer's Life illustration" />
        </div>
      </div>
      <img src="img/general-bg-1.svg" alt="" class="general-blob-2" />
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
  </body>
</html>
