<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <!-- Nav Section -->
    <%- include('partials/nav') %>
    <div class="projects">
      <div class="projects-intro">
        <h1 class="title">Here are some of my Best Works</h1>
        <p class="intro-paragraph">
          There is nothing more satisfying in life than making other people
          smile. This principle guides all I do. I endeavor to make my clients
          happy by giving my best in all the projects I do for them. Here are
          some of the projects I did for my clients and put a smile on their
          faces.
        </p>
      </div>
      <div class="projects-container">
        <!-- Project 1 Mayy Elites -->
        <div class="project mayy-elites">
          <a href="https://mayyelites.com" target="_blank"
            ><img
              src="./img/mayy-elites-hero small.png"
              alt="Mayy elites website hero image"
          /></a>
          <h2>Mayy Elites</h2>
          <p>
            This is Virtual school based in Kenya meant to make education
            accessible to everyone no matter where they are.
          </p>
          <a href="https://mayyelites.com" class="btn" target="_blank"
            >VISIT THE SITE</a
          >
        </div>
        <!-- Second project -->
        <div class="project kkwebsite">
          <a href="https://kkimani.com" target="_blank"
            ><img
              src="./img/kkwebsite-small.png"
              alt="Kelvin kimani's Website hero image"
          /></a>
          <h2>Kelvin's Website</h2>
          <p>
            This is a personal website geared at informing you about Kelvin and
            what he does professionally.
          </p>
          <a href="https://kkimani.com" class="btn" target="_blank"
            >VISIT THE SITE</a
          >
        </div>
        <!-- Project 3 Teqity -->
        <div class="project">
          <a href="https://teqity.com" target="_blank"
            ><img
              src="./img/teqity-web-hero-small.png"
              alt="Teqity's website hero image"
          /></a>
          <h2>Teqity BV</h2>
          <p>
            Teqity BV is software development outsourcing company based in
            Amsterdam, Netherlands.
          </p>
          <a href="https://teqity.com" class="btn" target="_blank"
            >VISIT THE SITE</a
          >
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
  </body>
</html>
