<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <!-- Nav Section -->
    <%- include('partials/nav') %>
    <div style="margin: 150px 50px">
      <h1>Download CV</h1>
      <p>Download Kelvin's CV by clicking the button below.</p>
      <p class="PNF">
        <a class="btn" href="../cv/CV.pdf" download>Download Here</a>
      </p>
    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
  </body>
</html>
